.about {
  padding-bottom: 50px;
  padding-top: 20px;
}

.about-content {
  text-align: justify;

  img {
    width: 100%;
  }
}

.about-section {
  padding: 5px 10px;

  &:not(:first-child) {
    margin-top: 50px;
  }
}

.about-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-photo-wrapper {
  margin-top: 20px;

  span {
    font-weight: bold;
  }
}
