.about {
  padding-bottom: 50px;
  padding-top: 20px;
}

.about-content {
  text-align: justify;

  img {
    width: 100%;
  }
}

.about-section {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;

  &:not(:first-child) {
    margin-top: 50px;
  }
}

.about-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-photo-wrapper {
  margin-top: 20px;

  span {
    font-weight: bold;
  }
}
