@import '../../variables';

.header {
  border-bottom: 1px solid $primary-color;
}

.header-content {
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .auth-button {
    margin-left: auto;
  }
}

.logo {
  max-width: 240px;
}

.popover {
  //margin-top: 10px;
}

.popover-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;

  > *:not(:first-child) {
    margin-top: 5px;
  }
}

.header-right {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  width: 100%;
}
