@import '../../variables';

.header {
  border-bottom: 1px solid $primary-color;
}

.header-content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;

  .auth-button {
    margin-left: auto;
  }
}

.logo {
  max-width: 152px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  width: 100%;
}
