@import '../../variables';

.header {
  border-bottom: 1px solid $primary-color;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #EDEEF0FF;
}

.header-content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;

  .auth-button {
    margin-left: auto;
  }
}

.logo {
  max-width: 152px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .burger-menu {
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    max-width: 48px;
  }
}
