@import '../../../../variables';

.reviews-section {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 305px;
    height: 305px;
    background: $primary-color;
    border-radius: 50%;
    left: -241px;
    top: 0;
    z-index: -1;

    @media screen and (max-width: 560px) {
      display: none;
    }
  }
}

.reviews, .contacts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 40px;
  position: relative;
}

.reviews {
  .section-text {
    max-width: 435px;
  }

  padding-bottom: 100px;

  //&:after {
  //  content: '';
  //  position: absolute;
  //  width: 312px;
  //  height: 253px;
  //  background: url('../../../../' + $imagesPath + 'dots.svg');
  //  right: -119px;
  //  bottom: -65px;
  //  z-index: -1;
  //
  //  @media screen and (max-width: 560px) {
  //    display: none;
  //  }
  //}
}

.reviews-title {
  font-weight: 700;
  font-size: 28px;
  max-width: 350px;
  margin-top: 40px;
  margin-bottom: 30px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 23px;
    top: 8px;
    left: -40px;
    background: url('../../../../' + $imagesPath + 'quotes.svg');

    @media screen and (max-width: 875px) {
      display: none;
    }
  }
}

.account {
  margin-top: 30px;
  cursor: pointer;
  color: black;
}

.account-name {
  font-size: 16px;
  font-weight: 700;
}

.account-description {
  margin-left: 18px;
}

.account-socials {
  color: $gray-color;
  font-size: 14px;
}

.account, .contacts-data__bottom, .account-socials {
  display: flex;
  align-items: center;
}

.account-socials, .contacts-data__bottom {
  justify-content: space-between;
}
