@import '../../../variables';

.edit-products-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  justify-content: space-between;
}

.product-card-edit, .product-card {
  border: 1px solid $card-border-gray-color;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 300px;
  align-items: center;
}

.product-card-edit {

}

.product-card {

}

.edit-products-form {
  max-width: 400px;
  background: white;
  margin: 0 auto;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 20px 20px 0 20px;
  outline: none;

  > *:not(:first-child) {
    margin-top: 20px;
  }
}

.edit-products-img-label {}

.edit-products-img-label__text {
  margin-left: 8px;
}

.edit-products-img-preview {
  max-width: 200px;
  padding-bottom: 10px;
}

.edit-products-form-errors {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin: 3px 14px 0;
  color: $red-color;
}
