@import '../../variables';

.map {
  margin-top: -308px;
  height: 392px;
  background: url('../../' + $imagesPath + 'map.svg') no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;

  &:before {
    content: '';
    position: absolute;
    height: 108px;
    width: 108px;
    background: url('../../' + $imagesPath + 'ellipse.svg');
    left: 242px;
    top: 105px;
    z-index: -1;
  }
}

// adaptive

@media screen and (max-width: 1420px) {


  // contacts section

  .contacts-form {
    margin-top: 0;
  }

  .map {
    margin-top: -100px;
    height: 300px;

    &:before {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {

  // groups section

  .groups-section {
    padding-top: 100px;
  }
}

@media screen and (max-width: 875px) {

  // groups section

  .groups-section {
    padding-top: 70px;
  }

  .groups {
    flex-wrap: wrap;
  }

  // contacts section

  .contacts-form {
    padding: 50px 30px;
  }

  // footer

  .socials-list {
    max-width: 140px;
  }

}

@media screen and (max-width: 560px) {

  // schedule section

  .schedule-cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .schedule-card {
    grid-gap: 10px;
    padding: 32px 15px 28px 15px;
  }

  .card-left__top {
    flex-wrap: wrap;
  }

  // reviews section

  .reviews {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  // contacts section

  .contacts {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
  }

  .map {
    display: none;
  }

  // footer

  .footer-content {
    margin-top: 20px;
  }
}

@media screen and (max-width: 460px) {

  // schedule section

  .schedule-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  // reviews section

  .reviews-title {
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .reviews {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  // contacts section

  .contacts {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
  }

  .contacts-data {
    font-size: 14px;
  }

  .form-title {
    font-size: 28px;
  }

  // footer

  .footer-content {
    height: 68px;
  }

  .copyright {
    display: none;
  }

  .socials-list {
    max-width: 70%;
    margin: 0 auto;
  }

}
