.contacts {
  padding-top: 80px;
}

.contacts-content {

}

.contacts-text {
  padding: 5px 10px;
}

.contacts-title {
  margin-bottom: 20px;
  text-align: center;
}

.contacts-map {
  margin-top: 10px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
}
