@import '../../variables';

.contacts {
  padding-top: 80px;
}

.contacts-content {

}

.contacts-text {
  padding: 5px 10px;
}

.contacts-title {
  margin-bottom: 20px;
  text-align: center;
}

.contacts-map {
  margin-top: 10px;
  width: 100%;
  border-radius: $border-radius;
  box-shadow: $page-block-shadow;
}
