@import '../../variables';

.service-items {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 300px));
  justify-content: space-around;
  grid-auto-flow: row;
  grid-gap: 30px;
  margin: 0 auto;
}

.service-item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

.service-title {
  font-size: 18px;
}

.service-info {
  margin-top: 15px;
  margin-bottom: 15px;

  > *:not(:first-child) {
    margin-top: 10px;
  }
}

.service-actions {
  display: flex;
  justify-content: space-between;
}
