@import '../../variables';

.service-items {
  //padding: 20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 300px));
  justify-content: space-between;
  grid-auto-flow: row;
  grid-gap: 30px;
  margin: 0 auto;
}

.service-item {
  display: flex;
  flex-direction: column;
  background: white;
  //margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
  padding: 15px 20px;
}

.service-title {
  font-size: 18px;
}

.service-info {
  margin-top: 15px;
  margin-bottom: 15px;

  > *:not(:first-child) {
    margin-top: 10px;
  }
}

.service-actions {
  display: flex;
  justify-content: space-between;
}
