@import '../../variables';

.news {
  padding-bottom: 50px;
  min-height: calc(100vh - 105px);
}

.news-items {
  display: flex;
  flex-direction: column;
}

.news-item {
  background: white;
  margin-top: 20px;
  border-radius: $border-radius;
  box-shadow: $page-block-shadow;
  padding: 15px 20px;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-header__title {
  font-size: 26px;
  font-weight: bold;
}

.news-description {
  margin-top: 15px;
}

.news-img__wrapper {
  margin-top: 8px;
  padding: 20px;
  background: $background-color;
  border-radius: $border-radius;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-img {
  //image-rendering: -webkit-optimize-contrast;
  //image-rendering: crisp-edges;
  width: 100%;
}

.news-author {
  margin-top: 5px;
  margin-left: 8px;
}

.news-author__text {
  margin-left: 8px;
}

.news-bottom {

}

.news-actions {
  //margin-top: 10px;
  display: flex;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 8px;
  }
}

.news-action-counter {
  margin-left: 3px;
}

.news-comments {

}

.news-comment {
  display: flex;
  margin-top: 10px;

  .time {
    margin-top: 3px;
  }
}

.news-comment-right {
  margin-left: 8px;
}

.news-comment-user {

}

.news-comment-text {
  font-size: 14px;
  margin-top: 5px;
}

.news-comment-right {
  //display: flex;
  //flex-direction: column;
}

.news-comments-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
