@import '../../variables';

.news {
  padding-bottom: 50px;
  min-height: calc(100vh - 90px);

  .edit-news-btn {
    margin-top: 20px;
  }
}

.edit-news-form {
  max-width: 400px;
  background: white;
  margin: 0 auto;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 20px 20px 0 20px;
  outline: none;

  > *:not(:first-child) {
    margin-top: 20px;
  }
}

.edit-news-img-label__text {
  margin-left: 8px;
}

.edit-news-img-preview {
  max-width: 200px;
  padding-bottom: 10px;
}

.edit-news-form-errors {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin: 3px 14px 0;
  color: $red-color;
}

.news-items {
  display: flex;
  flex-direction: column;
}

.news-item {
  background: white;
  margin-top: 20px;
  border-radius: $border-radius;
  box-shadow: $page-block-shadow;
  padding: 15px 20px;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-header__title {
  font-size: 26px;
  font-weight: bold;
}

.news-description {
  margin-top: 15px;
}

.news-img__wrapper {
  margin-top: 8px;
  padding: 20px;
  background: $background-color;
  border-radius: $border-radius;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-img {
  //image-rendering: -webkit-optimize-contrast;
  //image-rendering: crisp-edges;
  width: 100%;
}

.news-author {
  margin-top: 5px;
  margin-left: 8px;
}

.news-author__text {
  margin-left: 8px;
}

.news-bottom {

}

.news-actions {
  //margin-top: 10px;
  display: flex;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 8px;
  }
}

.news-action-counter {
  margin-left: 3px;
}

.news-comments {

}

.news-comment {
  display: flex;
  margin-top: 10px;

  .time {
    margin-top: 3px;
  }
}

.news-comment-right {
  margin-left: 8px;
}

.news-comment-user {

}

.news-comment-text {
  font-size: 14px;
  margin-top: 5px;
}

.news-comment-right {
  //display: flex;
  //flex-direction: column;
}

.news-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
