@import '../../variables';

.account {}

.account-content {
  display: flex;
}

.account-content__item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  max-width: 400px;
  width: 100%;
  background: white;
  border-radius: $border-radius;
  box-shadow: $page-block-shadow;
  padding: 15px 20px 0 20px;

  > *:not(:first-child) {
    margin-top: 20px;
  }
}

.user-data {
  padding-bottom: 20px;
}

.account-tabs {
  .MuiTabs-flexContainer {
    justify-content: space-between;
  }
}

@media screen and (max-width: 760px) {
  .account-content {
    flex-direction: column;
  }

  .account-content__item {
    margin: 20px auto;
    //max-width: 200px;
  }
}

@media screen and (max-width: 480px) {

}
