@import '../../variables';

.account {}

.account-content {
  display: flex;
}

.change-creds-form, .user-data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  max-width: 400px;
  width: 100%;
  background: white;
  border-radius: $border-radius;
  box-shadow: $page-block-shadow;
  padding: 15px 20px 0 20px;

  > *:not(:first-child) {
    margin-top: 20px;
  }
}

.user-data {
  padding-bottom: 20px;
}
