@import './variables';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: $background-color;
  overflow-x: hidden;
  position: relative;

  &:before {
    position: fixed;
    content: url($imagesPath + 'gasoil-bg-l.png');
    right: 40px;
    top: 100px;
    opacity: 0.8;
    z-index: -1;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 190px;
}

.hidden {
  display: none;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Geometria', sans-serif;
}

.service, .services, .account, .news, .contacts, .about, .orders {
  padding-bottom: 50px;
  min-height: calc(100vh - 106px);
}

section {

  &:not(:first-child) {
    //padding-top: 200px;
  }
}

.card-title, .section-title, .card-title-suffix {
  font-weight: 800;
  font-family: 'Geometria', sans-serif;
}

.section-title {
  font-size: 50px;
  letter-spacing: 0.02em;
  line-height: 53px;
}

.section-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
}

.card-title {
  font-size: 35px;
}

.card-title-separator {
  font-family: 'Geometria', sans-serif;
  font-weight: 300;
}

.card-title-suffix {
  font-size: 22px;
  letter-spacing: 0.05em;
}

.card-title, .card-title-suffix {
  letter-spacing: 0.05em;
}

button {
  height: 40px;
}

.form-submit-errors {
  margin-top: 10px;
  color: $red-color;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 80%;
}

.img-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.img-wrapper > div > * {
  width: 100%;
  height: 100%;
}

.popover {
  margin-top: 2px;
}

.list-popover-content {
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px 0;

  > *:not(:first-child) {
    margin-top: 5px;
  }
}

.tea-c {
  text-align: center;
}

.time {
  color: #818c99;
  font-size: 12px;
}

.add-form-modal {
  padding-top: 20px;
}

.form {
  max-width: 400px;
  background: white;
  margin: 0 auto;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  padding: 20px 20px 0 20px;
  outline: none;
  max-height: 700px;
  overflow: auto;

  > *:not(:first-child) {
    margin-top: 20px;
  }
}

.white-box {
  background: rgba(255, 255, 255, 0.8);
  border-radius: $border-radius;
  box-shadow: $page-block-shadow;
}

// adaptive

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 150px;
  }
}

@media screen and (max-width: 960px) {
  body {
    &:before {
      content: url($imagesPath + 'gasoil-bg-m.png');
    }
  }

  .container {
    padding: 0 100px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    padding: 0 70px;
  }
}

@media screen and (max-width: 480px) {
  body {
    &:before {
      content: url($imagesPath + 'gasoil-bg-s.png');
    }
  }

  .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
