@import './variables';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: url($imagesPath + 'lines-bg.svg') repeat-y center center;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 190px;
}

.hidden {
  display: none;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Geometria', sans-serif;
}

section {

  &:not(:first-child) {
    padding-top: 200px;
  }
}

.card-title, .section-title, .card-title-suffix {
  font-weight: 800;
  font-family: 'Geometria', sans-serif;
}

.section-title {
  font-size: 50px;
  letter-spacing: 0.02em;
  line-height: 53px;
}

.section-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
}

.card-title {
  font-size: 35px;
}

.card-title-separator {
  font-family: 'Geometria', sans-serif;
  font-weight: 300;
}

.card-title-suffix {
  font-size: 22px;
  letter-spacing: 0.05em;
}

.card-title, .card-title-suffix {
  letter-spacing: 0.05em;
}

button {
  height: 40px;
}

.form-submit-errors {
  margin-top: 10px;
  color: $red-color;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 80%;
}

.img-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.img-wrapper > div > img {
  width: 100%;
  height: 100%;
}

// adaptive

@media screen and (max-width: 1390px) {

  .card-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 60px;
  }

  section {

    &:not(:first-child) {
      padding-top: 150px;
    }
  }
}

@media screen and (max-width: 875px) {
  .container {
    padding: 0 30px;
  }

  section {

    &:not(:first-child) {
      padding-top: 80px;
    }
  }
}

@media screen and (max-width: 560px) {

  .card-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 460px) {

  .groups-section {
    padding-top: 20px;
  }

  section {

    &:not(:first-child) {
      padding-top: 60px;
    }
  }

  button {
    font-size: 13px;
    height: 44px;
  }

  .section-title {
    font-size: 36px;
  }

  .section-text {
    font-size: 16px;
    line-height: 28px;
  }

  // checkbox

  .checkbox-label {
    font-size: 12px;
    padding-left: 0;
    padding-bottom: 8px;
  }

  .checkbox {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
  }

}
