//$red-button-color: #f6272f;
$red-ball-color: #FF7157;
$red-color: #d32f2f;
$primary-color: #1976d2;

$opacity-06-black-color: rgba(0, 0, 0, 0.6);
$opacity-03-black-color: rgba(0, 0, 0, 0.3);

$card-pale-gray-color: #F2F1F1;
$card-border-gray-color: #DDDBDB;
$card-gray-color: #FBF9F9;
$gray-color: #BDBCBC;

$card-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
$form-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

$imagesPath: 'assets/images/';
