$red-color: #d32f2f;
$primary-color: #1976d2;
$border-color: #c3c3c3;
$primary-deep-color: #002870;

$background-color: rgba(237, 238, 240, 0.6);

$border-radius: 4px;

$page-block-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;

$imagesPath: 'assets/images/';
