@import '../../variables';

.footer {
  background: $primary-color;
}

.footer-content {
  padding: 15px 0;
  color: white;
}

.footer-content, .socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 120px;
}

.copyright {
  font-size: 13px;
}

.footer-info {
  display: flex;

  div {
    margin-left: 10px;
    font-size: 12px;
  }
}
