@import '../../variables';

.footer {
  background: $primary-color;
}

.footer-content {
  padding: 15px 0;
  color: white;
}

.footer-content, .footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 13px;
}

.footer-socials {
  max-width: 200px;
  width: 100%;
}

.footer-social {
  color: white;
}
