@import '../../variables';

.footer {
  background: $primary-color;
}

.footer-content {
  padding: 15px 0;
  color: white;
}

.footer-content, .footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 13px;
}

.footer-socials {
  max-width: 200px;
  width: 100%;
}

.footer-social {
  color: white;
}

@media screen and (max-width: 760px) {
  .copyright {
    font-size: 12px;
  }

  .footer-socials {
    max-width: 90px;
  }
}

@media screen and (max-width: 480px) {
  .copyright {
    font-size: 10px;
  }

  .footer-socials {
    max-width: 70px;
  }
}

@media screen and (max-width: 320px) {

}
