@import '../../variables';

.slider {
  padding: .5rem 0;
  width: 100%;
  max-width: 80vw;
  position: relative;
  margin: 0 auto;
  height: 400px;
}

.slides-container {
  height: 100%;
  max-width: 100rem;
  display: flex;
  position: relative;
  overflow: hidden;

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .4s ease-in-out;
    //color: black;
    z-index: 0;

    &.active {
      transform: translateX(0);
      //filter: grayscale(100%) brightness(39%) sepia(100%) hue-rotate(-48deg) saturate(550%) contrast(0.8);
      color: white;
      z-index: 1;
    }

    &.next {
      transform: translateX(100%);
    }

    &.prev {
      transform: translateX(-100%);
    }
  }
}

.slider-controls {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -30px;

  img {
    cursor: pointer;
  }
}

.dots {
  display: flex;
  align-items: center;
  margin: 0 9px;
}

.dot {
  height: 9px;
  width: 9px;
  background: #DEDEDE;
  border-radius: 50%;
  cursor: pointer;
  margin: 6px;

  &.active {
    background: $primary-color;
  }
}

// groups slider

.products-slider {
  .slides-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    overflow: visible;

    .slide {
      max-height: 323px;
      max-width: 241px;
      transform: translateX(365%);
      padding: 30px 34px;

      &.active {
        transform: translateX(0);
        max-height: 387px;
        max-width: 293px;
        top: -32px;
        padding: 36px 34px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: $primary-color;
          opacity: 0.90;
          z-index: -1;
        }

        .slide-description-item {
          font-size: 14px;
          font-weight: normal;
          margin: 5px 0;
        }

        .white-btn, .slide-description {
          display: block;
        }
      }

      &.next {
        transform: translateX(135%);
      }

      &.prev {
        transform: translateX(250%);
      }

      // slide content

      .white-btn, .slide-description {
        display: none;
      }

      .age {
        display: flex;
        align-items: center;
        position: relative;

        .card-title-suffix {
          position: absolute;
          left: 0;
          bottom: -20px;
        }
      }

      .slide-title {
        font-weight: 700;
        font-size: 14px;
        max-width: 100px;
      }
    }
  }

}

//  videos slider

.videos-slider {
  max-height: 338px;

  .slides-container {

    .slide {
      height: auto;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 500px) {
    max-height: 250px;
  }

  @media screen and (max-width: 400px) {
    max-height: 210px;
  }
}


// adaptive

@media screen and (max-width: 875px) {

  // groups slider

  .groups-slider {
    margin: 40px 0 0 0;

    .slider-controls {
      top: -50px;
    }
  }
}

@media screen and (max-width: 460px) {

  .groups-slider {
    margin: 65px 0 0 0;
  }
}
